/data/0001/*
/data/0002/*
/data/1701/*
/data/arxiv_cate/*
!/data/*.xml
/data/arXiv_src_manifest.xml
/results/*/*
!/results/cs_lda/cs_ft_keys.txt
!/results/cs_lda/topicmodel.log
data/arxiv_metadata/*   
!/results/*.pkl
!/results/*.xml
!error.txt
/src/KLdiv/cs_abt_composition.txt
/src/KLdiv/cs_ft_composition.txt
results/cs_lda.tar.gz
