/data/0001/*
/data/0002/*
/data/1701/*
/data/arxiv_cate/*
!/data/*.xml
/data/arXiv_src_manifest.xml
/results/*/*
!/results/cs_lda/cs_ft_keys.txt
!/results/cs_lda/topicmodel.log
data/arxiv_metadata/*   
!/results/*.pkl
!/results/*.xml
!error.txt
/src/KLdiv/cs_abt_composition.txt
/src/KLdiv/cs_ft_composition.txt
results/cs_lda.tar.gz
/src/KLdiv/.Rproj.user
/src/KLdiv/.RData
.Rproj.user
/data/old_topicmodel_data/*
data/200tpc/cs_ft_composition_200tp.txt
data/200tpc/cs_ft_inferencer_200tp.mallet

data/200tpc/cs_ftmodel_200tp.mallet
data/50tpc/cs_ft_composition_50tp.txt
data/50tpc/cs_ft_inferencer_50tp.mallet
data/50tpc/cs_ftmodel_50tp.mallet

